.hsimp-level--bad,.hsimp-level--insecure{
    background-color:#c63136;
    color: #fff;
}
.hsimp-level--ok{
    background-color:#de7b46;
    color: #fff;
}
.hsimp-level--good{
    background-color:#2f8249;
    color: #fff;
}
