body {
  background-color: #1f4287;
  background-color: var(--main-color, #1f4287);
  color: white;
  display: grid;
  height: 100vh;
  grid-gap: 8px;
  grid-template-rows: 60px 1fr 30px;
  transition: background-color 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
  will-change: background-color;
}

.nav {
  display: flex;
  align-items: center;
  padding: 8px;
}

.nav__link {
  border-radius: 2em;
  color: #fff;
  flex: 1;
  padding: 8px 16px;
  text-align: center;
  transition: background-color 200ms ease-in;
  will-change: background-color;
}

.nav__link:not(:last-of-type){
  margin-right: 8px;
}

.nav__link:hover,
.nav__link.nav__link--active {
  background-color: rgba(50,50,50,.4);
}

.nav__link:hover,
.nav__link:active,
.nav__link:focus {
  color: white;
  text-decoration: none;
}

.section.tab {
  display: none;
  height: 100%;
  padding: 16px;
}

.section.tab:target,
.section.tab.tab--active {
  display: block;
}